# This environment file contains variables used in the build scripts.
# Only the variables for the target system being compiled for are necessary.

# macOS
SIGNING_IDENTITY="Developer ID Application: John Doe (ABCDE12345)"
NOTARIZATION_KEYCHAIN_PROFILE="MyProfile" # This keychain entry should contain your app-specific password.

# only necessary for building the app to be distributed on the app store.
APP_STORE_SIGNING_IDENTITY="3rd Party Mac Developer Application: John Doe (ABCDE12345)"
INSTALLER_SIGNING_IDENTITY="3rd Party Mac Developer Installer: John Doe (ABCDE12345)"
