<key>CFBundleDocumentTypes</key>
<array>
  <dict>
    <key>CFBundleTypeName</key>
    <string>Audio File</string>

    <key>CFBundleTypeRole</key>
    <string>Viewer</string>

    <key>LSHandlerRank</key>
    <string>Alternate</string>

    <key>LSItemContentTypes</key>
	<array>
		<string>public.audio</string>
	</array>
  </dict>
</array>
