<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="GemPlayer"
           Name="Gem Player"
           Manufacturer="James Moreau"
           Version="0.1.0"
           Compressed="yes">

    <!-- Install folder in Program Files -->
    <Directory Id="INSTALLFOLDER" Name="Gem Player">
      <Component Id="MainExecutable" Guid="9666B907-46F3-487A-8916-45A6C073D7C8">
        <File Source="Gem Player.exe" KeyPath="yes"/>
        <Shortcut Id="DesktopShortcut"
                  Name="Gem Player"
                  Description="Gem Player Music Application"
                  Target="[INSTALLFOLDER]Gem Player.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Directory="DesktopFolder"/>
      </Component>
    </Directory>

    <Feature Id="MainFeature" Title="Gem Player" Level="1">
      <ComponentRef Id="MainExecutable"/>
    </Feature>

  </Package>
</Wix>
